


<h1>List of Users</h1>
<div class="table-responsive">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Surnames</th>
      <th scope="col">Email</th>
      <th scope="col">Operations</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <th><%= user.id %></th>
        <th><%= user.name %></th>
        <th><%= user.surnames %></th>
        <th><%= user.email %></th>
        <th></th>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>