/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //*= require_tree .
 //*= require_self
 *= require metismenu/dist/metisMenu.css
 */
@import "bootstrap";

/*
 * Component: Sidebar
 * ------------------
 */
.main-sidebar,
.left-side {
  width: 230px;
  position: fixed;
  background-color: #212529;
  padding-top: 55px;
  min-height: 100%;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.content{
  padding-top: 55px;
}
@media (max-width: 767px) {
  .main-sidebar,
  .left-side {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}
//@media (min-width: 768px) {
//  .sidebar-collapse .main-sidebar,
//  .sidebar-collapse .left-side {
//    -webkit-transform: translate(-230px, 0);
//    -ms-transform: translate(-230px, 0);
//    -o-transform: translate(-230px, 0);
//    transform: translate(-230px, 0);
//  }
//}
//@media (max-width: 767px) {
//  .sidebar-open .main-sidebar,
//  .sidebar-open .left-side {
//    -webkit-transform: translate(0, 0);
//    -ms-transform: translate(0, 0);
//    -o-transform: translate(0, 0);
//    transform: translate(0, 0);
//  }
//}

//.fadeIn{
//  animation: fadeIn 50ms forwards;
//}
//.fadeOut{
//  animation: fadeOut 50ms forwards;
//}
//@keyframes  fadeIn{
//  from {opacity: 0}
//  to {opacity: 1}
//}
//@keyframes  fadeOut{
//  from {opacity: 1}
//  to {opacity: 0}
//}
